.hero-image { 
  width: 95%;
  margin: 15px auto; 
  height: 80vh;  
  box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1F;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(86,93,109,0.6);


  background: linear-gradient(#FFFFFF80),url(../../assets/imagens/ver-o-peso.jpg) no-repeat center center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.hero-text h1 {
  font-family: Montserrat; 
  font-size: 60px; 
  line-height: 60px; 
  font-weight: 700; 
  color: #000000FF;

  display: inline-block;
  vertical-align: middle;
}

.hero-text h3 {
  font-family: Montserrat; 
  font-size: 20px; 
  line-height: 28px; 
  font-weight: 500; 
  color: #000000FF;
  margin: 10px;
}

.hero-btn {
  width: 206px; 
  height: 40px; 
  padding: 0 12px; 
  margin-top: 35px;

  display: flex; 
  align-items: center; 
  justify-content: center;
  flex-direction: row;
  
  background:  #3B7D5BFF;
  opacity: 1; 
  border: none; 
  border-radius: 10px;
  gap: 8px;
}

.hero-btn-categouries {
 font-family: Montserrat; 
  font-size: 18px; 
  line-height: 28px; 
  font-weight: 400; 
  color: #FFD447FF; 
  background: #3B7D5BFF;

  display: flex;
  align-items: center;

}

.hero-btn-categouries svg, .icon {
  height: 20px;
  width: 20px;
  margin: 0px 0px 0px 6px;
}

.bagged {
margin: 50px;
display: flex;
flex-direction: column;
align-items: center;
}

.bagged-text{
  margin: 60px 0 26px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.bagged-text h1 {
  width: auto; 
  height: 45px; 
  font-family: Montserrat; 
  font-size: 36px; 
  line-height: 40px; 
  font-weight: 800; 
  color: #242524FF;
}

.bagged-text p {
  width: auto; 
  height: 44px; 
  font-family: Montserrat; 
  font-size: 18px; 
  line-height: 28px; 
  font-weight: 400; 
  color: #8C8D8BFF; 
}


.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 50px;
  width: 100%;
  padding: 2rem;
  margin: 20px 0 5px 0;
}

.call-to-action {
  width: 100%;
  height: 512px;  

  background: linear-gradient(#3B7D5BB3),url(../../assets/imagens/utinga.jpg) no-repeat center center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.call-to-action-text{
  margin: 60px 0 26px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.call-to-action h1 {
  width: auto; 
  height: 45px; 
  font-family: Montserrat; 
  font-size: 36px; 
  line-height: 40px; 
  font-weight: 800; 
  color: #fff;
}

.call-to-action p {
  width: auto; 
  height: 44px; 
  font-family: Montserrat; 
  font-size: 18px; 
  line-height: 28px; 
  font-weight: 400; 
  color: #fff; 
}

/* Footer */

footer {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer h1 {
  font-family: Poppins;
  font-size: 26px;
  color: #EFB034FF;
  margin-top: 15px;
}

footer p {
  font-family: Montserrat;
  font-size: 14px;
  color: #8C8D8BFF;
  margin-top: 15px;
}

.footerIcon {
  position: absolute;
  top: 70px;        
  right: 40px;     
  display: flex;
}

.footerIcon a {
  margin-left: 10px;
  color: #8C8D8BFF;
  font-size: 20px;
  transition: color 0.3s;
}

.footerIcon a:hover {
  color: #EFB034FF;
}
